streamlit>=1.28.0

# PyTorch (CPU) con wheels para Python 3.13
torch==2.4.1
torchvision==0.19.1

# Imagen / NumPy / DataFrame
opencv-python-headless>=4.10.0.84
numpy>=2.0
pandas==2.2.3
Pillow>=9.0

# Utilidades que ya tenías y no molestan
tqdm>=4.66
gitpython>=3.1.30
PyYAML>=6.0.1
requests>=2.31.0
scipy>=1.11
thop>=0.1.1.post2209072238

# IMPORTANTE: quitamos estos para evitar choques y builds pesados
# ultralytics
# yolov5
# opencv-python  (usamos la variante headless)
